@model CatalogViewModel


<section class="catalog_container">
		<div class="content_container">
			<aside class="catalog_filter">
				<span class="filter-title">Категории</span>
				@foreach (var category in Model.Categories) {
					<div class="filter_item">
						<a href="/Home/Catalog?categoryId=@category.Id">@category.Name</a>
					</div>
				}
			</aside>
			<main class="show_catalog">
				@foreach (var product in Model.Products) 
				{
					<div class="product_item">
						<a href="/Home/Product?id=@product.Id">
							<img src="~/Images/aromatnoe_lakomstvo_desert_tri_shokolada_2.jpg">
							<span class="product_item_name">
								@product.Name
							</span>
						
							<span class="product_item_price">
								@product.Price <i class="fas fa-ruble-sign"></i>
							</span>
							
						</a>
						<button data-id="@product.Id"  data-price="@product.Price" data-name="@product.Name" class="add_item button-style">Добавить в корзину</button>
					</div>
				}  
			</main>		
		</div>
</section>

@section Scripts
{
	<script src="~/js/products.js"></script>
}